$flex-item-height: 150px;

.flex-container {
  display: flex;
  flex-flow: row wrap;
}

.flex-item {
  width: 200px;
  height: $flex-item-height;

  background: tomato;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  line-height: $flex-item-height;
}
