<form>
  <h1>Register</h1>
  <fieldset>
    <h2>Personal Details</h2>
    <label for="name">Name <sup>*</sup></label>
    <input id="name" name="name" type="text">
    <label for="dob">Date of Birth <sup>*</sup></label>
    <input id="dob" name="dob" type="date">
    <label for="nationality">Nationality <sup>*</sup></label>
    <select id="nationality" name="nationality">
      <option>American</option>
      <option>British</option>
      <option>Indian</option>
      <option>Canadian</option>
    </select>
  </fieldset>
  <fieldset>
    <label for="email">Email</label>
    <input id="email" name="email">
    <label for="tel">Telephone</label>
    <input id="tel" name="tel">
    <span>Contact Preference</span>
  </fieldset>
</form>
