<form>
  <h1>Register</h1>
  <fieldset>
    <h2>Personal Details</h2>
    <label for="name">Name <sup>*</sup></label>
    <input [(ngModel)]="regRequest.name" id="name" name="name" type="text">
    <label for="dob">Date of Birth <sup>*</sup></label>
    <input [(ngModel)]="regRequest.dob" id="dob" name="dob" type="date">
    <label for="nationality">Nationality <sup>*</sup></label>
    <select [(ngModel)]="regRequest.nationality" id="nationality" name="nationality">
      <option *ngFor="let country of countries" [value]="country.value">
        {{country.viewValue}}
      </option>
    </select>
  </fieldset>
  <fieldset>
    <label for="email">Email</label>
    <input [(ngModel)]="regRequest.email" id="email" name="email">
    <label for="tel">Telephone</label>
    <input [(ngModel)]="regRequest.tel" id="tel" name="tel">
    <span>Contact Preference</span>
  </fieldset>
  <button>Submit</button>
</form>
